<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @possession.name %>
</p>

<p>
  <strong>Model num:</strong>
  <%= @possession.model_num %>
</p>

<p>
  <strong>Receipt url:</strong>
  <%= @possession.receipt_url %>
</p>

<p>
  <strong>Est value:</strong>
  <%= @possession.est_value %>
</p>

<%= link_to 'Edit', edit_possession_path(@possession) %> |
<%= link_to 'Back', possessions_path %>
